<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">

<div layout:fragment="content">
    <div class="alert alert-primary mt-3" th:if="${#lists.isEmpty(lista)}">
        Nenhum starter encontrado.
    </div>
    <div class="alert alert-primary mt-3" th:if="${mensagem != null}" th:text="${mensagem}"></div>
    <div th:if="${not #lists.isEmpty(lista)}">
        <button class="btn btn-outline-secondary mt-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-filter" viewBox="0 0 16 16">
                <path d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
            </svg>
            Filtros
        </button>
        <div class="collapse mb-3 mt-3" id="collapse1">
            <div class="card card-body">
                <form method="GET">
                    <div class="form-group mb-3">
                        <label for="tecnologiaId">Tecnologia:</label>
                        <select class="form-select" id="tecnologiaId" name="tecnologiaId">
                            <option value="" selected>Todas as tecnologias</option>
                            <option th:each="tecnologia : ${listaTecnologias}" th:value="${tecnologia.id}" th:text="${tecnologia.nome}"></option>
                        </select>
                    </div>
                </form>
            </div>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Sobrenome</th>
                    <th>4 Letras</th>
                    <th>Tecnologia</th>
                    <th>Nota</th>
                    <th>Opções</th>
                </tr>
            </thead>
            <tbody id="tableBody">
                <tr th:each="starter : ${lista}">
                    <td th:text="${starter.nome}"></td>
                    <td th:text="${starter.sobrenome}"></td>
                    <td th:text="${starter.quatroLetras}"></td>
                    <td th:text="${starter.grupo.tecnologia.nome}"></td>
                    <td th:text="${starter.nota}"></td>
                    <td><div class="btn-group mb-3">
                        <a class=" btn btn-outline-primary btn-sm text-decoration-none" th:href="@{/admin/starter/info(id=${starter.id})}" role="button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-lg" viewBox="0 0 16 16">
                                <path d="m9.708 6.075-3.024.379-.108.502.595.108c.387.093.464.232.38.619l-.975 4.577c-.255 1.183.14 1.74 1.067 1.74.72 0 1.554-.332 1.933-.789l.116-.549c-.263.232-.65.325-.905.325-.363 0-.494-.255-.402-.704l1.323-6.208Zm.091-2.755a1.32 1.32 0 1 1-2.64 0 1.32 1.32 0 0 1 2.64 0Z"/>
                            </svg></a>
                    </div></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div layout:fragment="scripts">
        <script th:src="@{~/js/topStarter-ajax.js}"></script>
    </div>
</div>

</html>