<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">

<div layout:fragment="content">
    <div class="alert alert-primary mt-3" th:if="${mensagem != null}" th:text="${mensagem}"></div>
    <div class="card mt-5">
        <div class="card-header">
            <p class="text-primary">Registrar Projeto</p>
        </div>
        <div class="card-body">
            <form method="POST" th:action="@{/admin/projeto/editar}" th:object="${projeto}">
                <input type="hidden" th:field="*{id}">
                <div class="form-group mb-3">
                    <label>Nome do Starter:</label>
                    <select class="form-select" th:field="*{starter}">
                        <option th:each="starter : ${listaStarters}" th:value="${starter.id}"
                                th:text="${starter.nome} + ' ' + ${starter.sobrenome} + ' - Grupo ' + ${starter.grupo.id}"></option>
                    </select>
                    <div class="text-danger" th:if="${#fields.hasErrors('starter')}" th:errors="*{starter}"></div>
                </div>
                <div class="form-group mb-3">
                    <label>Etapa:</label>
                    <select class="form-select" th:field="*{etapa}">
                        <option th:each="etapa : ${T(com.gft.ControleStarterMVC.enums.Etapa).values()}"
                                th:value="${etapa}"
                                th:text="${etapa}">
                        </option>
                    </select>
                    <div class="text-danger" th:if="${#fields.hasErrors('etapa')}" th:errors="*{etapa}"></div>
                </div>
                <div class="form-group mb-3">
                    <label>Modulo:</label>
                    <select class="form-select" th:field="*{modulo}">
                        <option th:each="modulo : ${listaModulos}" th:value="${modulo.id}" th:text="${modulo.nome}"></option>
                    </select>
                    <div class="text-danger" th:if="${#fields.hasErrors('modulo')}" th:errors="*{modulo}"></div>
                </div>
                <div class="form-group mb-3">
                    <label>Avaliação:</label>
                    <div class="text-danger" th:if="${#fields.hasErrors('avaliacao')}" th:errors="*{avaliacao}"></div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="option0" name="option1" class="custom-control-input" value="0" th:field="*{avaliacao}">
                        <label class="custom-control-label" for="option1">Não entregou.</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="option1" name="option1" class="custom-control-input" value="1" th:field="*{avaliacao}">
                        <label class="custom-control-label" for="option1">Alguns requisitos faltantes.</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="option2" name="option2" class="custom-control-input" value="2" th:field="*{avaliacao}">
                        <label class="custom-control-label" for="option2">Cumpriu todos os requisitos.</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="option3" name="option3" class="custom-control-input" value="3" th:field="*{avaliacao}">
                        <label class="custom-control-label" for="option3">Cumpriu todos os requisitos com exceeds.</label>
                    </div>
                </div>
                <div class="form-group mb-3">
                    <label for="comentarios">Comentários:</label>
                    <p><small>Sugerido, porém é opcional.</small></p>
                    <input class="form-control" id="comentarios" type="text" th:field="*{comentarios}">
                    <div class="text-danger" th:if="${#fields.hasErrors('comentarios')}" th:errors="*{comentarios}"></div>
                </div>
                <button type="submit" class="btn btn-primary">Salvar</button>
            </form>
        </div>
    </div>
</div>

</html>